<div class="card">
  <img src="{{ product.image }}" alt="{{ product.name }} image">
  <div class="product-description">
    <p class="product-name">{{ product.name }}</p>
    <p class="product-price">R$ {{ product.price }}</p>
  </div>
  <div class="product-actions">
    <app-rating [rating]="product.rating"></app-rating>
    <p class="product-quantity">Un.</p>
    <input type="number" [(ngModel)]="quantidade" min="0" max="100">
  </div>
  <button class="add-to-cart" [disabled]="disableBotao()" (click)="addProduto()">Adicionar ao carrinho</button>
</div>
